<%- include("partials/header.ejs") %>


<div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
<% posts.forEach((post, i) => { %>
    <!-- <div class="feature col pr-5">
        <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
          <svg xmlns="http://www.w3.org/2000/svg" width="1.5em" height="1.5em" class="bi bi-journal-bookmark-fill" viewBox="0 0 16 16" style="fill: black;">
            <path fill-rule="evenodd" d="M6 1h6v7a.5.5 0 0 1-.757.429L9 7.083 6.757 8.43A.5.5 0 0 1 6 8V1z"/>
            <path d="M3 0h10a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-1h1v1a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1v1H1V2a2 2 0 0 1 2-2z"/>
            <path d="M1 5v-.5a.5.5 0 0 1 1 0V5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0V8h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1z"/>
          </svg>
        </div>
        <h3 class="fs-2 text-body-emphasis"><%= post.postTitle %></h3>
        <p><%= post.content.substring(1, 100) + "..." %></p>
        <a href="/posts/<%= post._id %>" class="btn btn-outline-primary">
          Read More
          <svg class="bi"><use xlink:href="#chevron-right"></use></svg>
        </a>
      </div> -->
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm border-dark">
          <div class="card-header py-3 border-dark text-bg-dark">
            <h4 class="my-0 fw-normal">Post <%= i %></h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title"><%= post.postTitle %></h1>
            <p><%= post.content.substring(1, 100) + "..." %></p>
            <a href="/posts/<%= post._id %>" class="btn btn-outline-primary">
              Read More
              <!-- <svg class="bi"><use xlink:href="#chevron-right"></use></svg> -->
            </a>
          </div>
        </div>
      </div>
<% }) %>
</div>

<%- include("partials/footer.ejs") %>


<!-- 
<div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
    <div class="feature col">
      <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
        <svg class="bi" width="1em" height="1em"><use xlink:href="#collection"></use></svg>
      </div>
      <h3 class="fs-2 text-body-emphasis">Featured title</h3>
      <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
      <a href="#" class="icon-link">
        Call to action
        <svg class="bi"><use xlink:href="#chevron-right"></use></svg>
      </a>
    </div>
    <div class="feature col">
      <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
        <svg class="bi" width="1em" height="1em"><use xlink:href="#people-circle"></use></svg>
      </div>
      <h3 class="fs-2 text-body-emphasis">Featured title</h3>
      <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
      <a href="#" class="icon-link">
        Call to action
        <svg class="bi"><use xlink:href="#chevron-right"></use></svg>
      </a>
    </div>
    <div class="feature col">
      <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
        <svg class="bi" width="1em" height="1em"><use xlink:href="#toggles2"></use></svg>
      </div>
      <h3 class="fs-2 text-body-emphasis">Featured title</h3>
      <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
      <a href="#" class="icon-link">
        Call to action
        <svg class="bi"><use xlink:href="#chevron-right"></use></svg>
      </a>
    </div>
  
    </div>
    <div class="card-footer text-body-secondary">
      2 days ago
    </div>
  </div>
  </div> -->

  